<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>AirCorp</title>
</head>
<body>
    <header>
        <h1>All AirCorp Airlines</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <table>
            <tr>
                <th>ID</th>
                <th>Airline Name</th>
                <th>Total Locations</th>
                <th>Actions</th>
            </tr>
            {% for airline in airlines %}
                <tr>
                    <td>{{airline.id}}</td>
                    <td>{{airline.name}}</td>
                    <td>{{airline.locations}}</td>
                    <td>
                        <a href="/airlines/{{airline.id}}/view/">View</a> | 
                        <a href="/airlines/{{airline.id}}/edit/">Edit</a> | 
                        <a href="/airlines/{{airline.id}}/delete/">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button><a href="/airlines/add/">Add new Airline</a></button>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>