<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Flight #{{flight.number}}</title>
</head>
<body>
    <header>
        <h1>AirCorp Flight #{{flight.number}}</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <form action="/flights/{{flight.id}}/update/" method='post'>
            <section>
                <label for="number">Flight Number:</label>
                <input type="number" name="number" value="{{flight.number}}">
            </section>
            <section>
                <label for="departing">Departing City:</label>
                <input type="text" name="departing" value="{{flight.departing}}">
            </section>
            <section>
                <label for="arriving">Arriving City: </label>
                <input type="text" name="arriving" value="{{flight.arriving}}">
            </section>
            <button>Update Flight</button>
        </form>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>