<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <title>Week 6 To Do App</title>
</head>
<body>
    <header>
        Welcome to our To Do App!
        <nav>
            <a href="/">Home</a>
            <a href="/toDoApp">Tasks</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
        Join to add new items
        <div class="row">
            <form action="/login" method='post'>
                <section>
                    <label for="username">UserName: </label>
                    <input type="text" name='username'>
                </section>
                <section>
                    <label for="password">Password: </label>
                    <input type="password" name='password'>
                </section>
                <button>Login</button>
            </form>
            <form action="/register"method='post'>
                <section>
                    <label for="firstName">First Name: </label>
                    <input type="text" name="firstName">
                </section>
                <section>
                    <label for="lastName">Last Name: </label>
                    <input type="text" name='lastName'>
                </section>
                <section>
                    <label for="email">Email: </label>
                    <input type="email" name="email">
                </section>
                <section>
                    <label for="username">Username: </label>
                    <input type="text" name="username">
                </section>
                <section>
                    <label for="password">Password: </label>
                    <input type="password" name="password">
                </section>
                <section>
                    <label for="confirm">Confirm Password: </label>
                    <input type="password" name="confirm">
                </section>
                <button>Register and Login</button>
            </form>
        </div>
    </main>
    <footer></footer>
</body>
</html>